main {
  background-color: aqua;
  height: 100vh;

  display: grid;

  grid-template-columns: 30% 20% 7% 20% 30%;
  grid-template-rows: 25% 12% 13% 25% 25%;

  grid-template-areas:
    "left top1 top1 top2 right"
    "left center center center right"
    "bottom-l center center center right"
    "bottom-l center center center bottom-r"
    "bottom-l bottom1 bottom2 bottom3 bottom-r";
    gap:10px
}

#top-right {
  grid-area: right;
  background-color:pink;
}

#top-left {
  grid-area: left;
   background-color:blue;
}

#top1 {
  grid-area: top1;
   background-color:orange;
}

#top2 {
  grid-area: top2;
   background-color:yellow;
}

#center {
  grid-area: center;
   background-color:red;
}

#bottom-left {
  grid-area: bottom-l;
   background-color:green;
}

#bottom-right {
  grid-area: bottom-r;
   background-color:purple;
}

#bottom1 {
  grid-area: bottom1;
   background-color:blue;
}

#bottom2 {
  grid-area: bottom2;
   background-color:green;
}

#bottom3 {
  grid-area: bottom3;
   background-color:yellow;
}